@import "tailwindcss";
@import "../components/aspect-ui/aspect-ui.css";

:root {
  --bg: rgb(255, 255, 255);
  --text: rgb(34, 34, 34);
  --text-muted: rgb(106, 106, 106);
  --bg-dark: linear-gradient(180deg, #ffffff 39.9%, #f8f8f8 100%);
}
.dark {
  --bg: rgb(255, 255, 255);
  --text: rgb(34, 34, 34);
  --text-muted: rgb(106, 106, 106);
  --bg-dark: linear-gradient(180deg, #ffffff 39.9%, #f8f8f8 100%);
}

@theme inline {
  --breakpoint-md: 46.5rem; /* 744px */
  --breakpoint-lg: 59.375rem; /* 950px */
  --breakpoint-xl: 70.5rem; /* 1128px */
  --breakpoint-2xl: 90rem; /* 1440px */
}

.search-hover {
  @apply relative;
}